<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <h2>fill in your email</h2>
        </div>

        <form [formGroup]="ForgotPasswordForm" (ngSubmit)="SendForgotPassword()" class="login-form">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="Email" id="Email" formControlName="Email" class="form-control" />
                <div class="invalid-feedback">please enter valid email</div>
            </div>

            <button type="submit" class="login-button">
                send
            </button>            
           
        </form>
    </div>
</div>
<router-outlet></router-outlet>